{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <div class="vh-100 {{ background }} text-center d-flex flex-column justify-content-center"> 
        <p class="title text-white fw-bolder">{{ title }}</p>
        <p class="subtitle text-white fw-bolder" {{ background == 'kyoto' or background == 'hongkong' ? 'subtitle-reverse': '' }}>
            {{ background == 'kyoto' or background == 'hongkong' ? subtitle: title }}
        </p>
        <a href="" class="btn btn-custom btn-lg btn-custom mt-5 rounded-pill">Discover</a>
    </div>
{% endblock %}