h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

img:hover{
    transform: scale(0.9);
    transition: all 700ms ease-in-out;
}